<div class="row">
    <h1> Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Pagina Web Universidad</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis temporibus voluptate quaerat maxime. Dolore recusandae iure sint esse nesciunt aperiam, cupiditate molestiae laudantium culpa facere autem explicabo qui nobis ullam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/apapachando corazones.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
