<div class="row">
    <div>
        <img src="../../../assets/majo.jpg" class="img-fluid">
    </div>
    <div>
        <p>
            Gonzalez Maria Jose
        </p>
        <p>
            Full Stack Developer Jr
        </p>
    </div>
    <div>
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quisquam soluta nesciunt accusantium nam, voluptatem asperiores reprehenderit repudiandae id tenetur vel exercitationem ad. Reiciendis aliquam reprehenderit cupiditate sunt, dolores quisquam.</p>
        </span>
    </div>
</div>
